:host {
  display: flex;
  flex-direction: column;
}

.search-box {
  margin-bottom: var(--app-spacing-2);
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: var(--app-spacing-2);
}